h1{
font-size: 30px;
text-align: center;
color: #6495ED
}

p{
font-size: 20px;
text-align: left;
font-family: Helvetica, sans-serif;
}

a{
font-size: 20px;;
}

img{
border-radius: 8px;
width: 50%;
height: auto;
}

body {
background-color: #DCDCDC;
}